/* your styles go here */
.infoJeu{
	margin-left: 30%;
	
}

.textinfo{
	
	margin-left : 20%;
}
.actualité{
	display:inline-block;
}
.news{
	margin-left:150px;
}
.card{
	overflow:hidden;/*On empeche l'image de dépasser du bloc*/
	display:block;
	margin:auto;
}
#img{transition:0.5s;} /* durée de l'animation en secondes*/
#img:hover{transform : scale(1.2);} /* Zoom de l'image. La taille normale est 1 */

@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

body {      
    font-family: 'Quicksand', sans-serif;
    position: relative;
  }

/* utilities */
hr{
	background-color:black;
}

.padding-150 {
    padding-top: 150px;
    padding-bottom: 100px;
}

.bg-dark {
    background: #212529;
}

.bg-cloud {
    background: rgb(236, 240, 241);
}

.text-cloud {
    color: rgb(236, 240, 241);
}

.text-dark {
    color: #212529;
}

.h-100 {
    height: 100px;
}

.h-250 {
    height: 250px;
}

.paddingZero {
    padding: 0;
}

.padding-10 {
    padding: 10px;
}

.font-60 {
    font-size: 60px;
}
.font-70 {
    font-size: 70px;
}
.font-80 {
   font-size: 80px;
}

/* navbar */
#navbar {
    transition: all 1s;
    -moz-transition: all 1;
    -webkit-transition: all 1s;
    -o-transition: all 1;
}

.bg-clear {
    background: transparent;
}


/* header */
.bg {
    background: url('img/im2.jpg');
	background-repeat: no-repeat;
	background-size: cover; background-position: center center;
}

.bg-fixed {
    background-attachment: fixed;
}


